/* Estilos generales */
@font-face {
    font-family: empy;
    src: url(./ruta/nombreArchivo.woff2);
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root {
    --primary__blue: #3498db;
    --primary__green: #2ecc71;
    --primary__white:#ffffff;
    --secondary_grey:#aaaaaa;
    --secondary_dark:#2c2c2c;
    --tertiary__yellow:#f1c40f;
    --tertiary__orange:#e67e22;
}

.cabecera{
    position:fixed;
    display: flex;
    overflow-y: hidden;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 25vh;
    z-index: 1;
}

.logotipo{
    height: 25vh;
}

.navegador{
    height: 100%;
}

.navegador__lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.navegador__item{
    margin: 10px;
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

.navegador__item a{
    text-decoration: none;
    text-shadow:-0.1em -0.1em 0.25em black,
                0.1em 0.1em 0.25em black;
    color: var(--tertiary__yellow);
}

.pie-pagina{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    font-size: 1.5em;
}

.pie-pagina p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

.pie-pagina__enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    text-align: center;
}

.pie-pagina__enlaces ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    height: 100%;
}

.pie-pagina__enlaces ul li{
    list-style: none;
}

.pie-pagina ul li a{
    color:var(--primary__white);
    text-shadow: 2px 1px 1px 0.2 black;
}

.pie-pagina__redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 0.8em;
    gap: 10%;
}

.pie-pagina__redes-sociales img{
    height: 50px;
}