/* Estilos index */

:root {
    --background: #f1c787;
    --background-parallax:#5333ed;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    color: var(--primary__white);
}

.no-parallax{
    background-color: var(--background-parallax);
    z-index: 100;
}

.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/media/img/9.jpg");
    background-size:cover;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

.contenedor-principal__titulo{
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
}

.contenedor-principal__cta{
    display: flex;
    border: 1px solid black;
    height: 10vh;
    width: 35vw;
    border-radius: 10px;
}

.cta__izquierdo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid black;
    background-color: var(--primary__green);
}

.cta__izquierdo__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.cta__izquierdo__containBoton button{
    border: none;    
    height: 4vh;
    width: 6vw;
    cursor: pointer;
}

.cta__derecho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary__blue);
}

.cta__derecho__texto{
    font-size: 1.25em;
}

#buscador{
    width: 75%;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
}

.contenedor-secundario{
    display: flex;
    flex-direction: column;
    height: 115vh;
}

.contenedor-secundario__boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    width: 60vw;
    margin: 20px;
}

.contenedor-secundario__caja{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: 20px;
    background-color: var(--primary__blue);
    border: 1px solid black;
}

.caja__titulos{
    font-size: 1.5em;
}

.caja__textos{
    text-align: center;
    width: 80%;
}

.caja__imagenes{
    height: 160px;
    border-radius: 5px;
}

.contenedor-secundario h1,
.contenedor-terciario h1 {
    text-align: center;
    width: 60%;
    font-size: 3.4em;
    text-shadow: 5px 2px #558abb;
}

.contenedor-secundario__proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
}

.proyectos__izquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    width: 40%;
    background-color: var(--primary__blue);
}

.proyectos__izquierda__textos{
    width: 100%;
    margin-left: 40px;
    font-size: 1.7em;
}

.proyectos__linea{
    height: 80%;
    width: 5px;
    border-radius: 20px;
    background-color: rgba(255, 250, 250, 0.397)
}

.proyectos__derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 40%;
    background-color: var(--primary__green);
}

.proyectos__derecha__nombre-proyecto{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    background-color: var(--primary__green);
    overflow: hidden;
}

.proyectos__derecha img{
    height: 240px;
    border-radius: 5px;
}

.contenedor-terciario{
    flex-direction: column;
    gap: 60px;
    height: 100%;
    width: 100%;
}

.contenedor-terciario__actualizaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--secondary_dark);
}

.actualizaciones__titulo{
    width: 100%;
    font-size: 2.1em;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--secondary_grey);
}

.actualizaciones__contenedor-publicaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

.contenedor-publicaciones__bloque{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 95%;
    border: 1px solid black;
    color: black;
    background-color: var(--primary__white);
}



/* Index - Pie de pagina */
.pie-pagina{
    position: sticky;
    bottom: 0;
    z-index: -1;
}
